* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.background {
    width: 540px;
    height: 960px;
    border: 1px solid #aacdff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper__title {
    width: 380px;
    height: 47;
    font-size: 32px;
    font-weight: 700;
    color: #0068ff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input input{
    width: 380px;
    height: 60px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    text-align: start;
    font-size: 16px;
    color: #797979;
    margin: 10px 0px 10px 0px;
}

.wrapper__phonenum {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}

.wrapper__phonenum input {
    width: 100px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
}

.wrapper__authnum {
    width: 100%;
    height: 40px; 
    display: flex;
    flex: row;
    justify-content: flex-end;
}

.wrapper__authnum span{
    font-size: 18px;
    font-weight: 400;
    color : #0068ff;
    line-height: 40px;

}

.wrapper__authnum button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    /* color: #0068ff;
    background-color: white; */
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    margin-left: 20px;

}

.wrapper__check__authnum {
    width: 100%;
    height: 40px; 
    display: flex;
    flex: row;
    justify-content: flex-end;
}

.wrapper__check__authnum span {
    font-size: 18px;
    font-weight: 400;
    color : #0068ff;
    line-height: 40px;
}

.wrapper__check__authnum button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    /* color: #0068ff;
    background-color: white; */
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    margin-left: 20px;
}

.wrapper__location {
    width: 100%;
    height: 60px;
}

.wrapper__location select {
    width: 100%;
    height: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
    color:#797979;
}

.wrapper__gender {
    width: 140px;
    height: 23.94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gender {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gender input{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border : 1px solid #d2d2d2;
    background-color: #ebebeb;
}

.wrapper__divideline {
    width: 100%;
    height: 20px;
    border-top: 1px solid #e6e6e6;
}

.wrapper__submit {
    width: 100%;
    height: 75px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.error {
    color: red;
    height: 10px;
    font-size: 11px;
}